<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- Custom style sheet -->
	<link rel="stylesheet" href="style.css" />

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="pieku icon" href="img/pieku-icon-sm.png">

	<title>Pieku</title>

</head>

<body>
	<!-- top navbar -->
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="topNavbar">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">ABOUT </a></li>
					<li><a id="piekuNav" href="#piekus">PIEKU</a></li>
					<li><a href="">CONTACT</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!-- top navbar end -->

	<!-- Header -->
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1 style="margin-top: 60px">PIEKU</h1>
			<h3>FOR THE LOVE OF POETRY AND PIE.</h3>
			<br>
			<a class="btn btn-dark btn-lg" href="#" role="button" data-toggle="modal" data-target="#myModal">CREATE A PIEKU!</a>
		</div>
	</header>
	<!-- header end -->

	<!-- modal window in header -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">CREATE A PIEKU!</h4>	
				</div>
				<form class="text-center myForm" id="new-post">
					<div class="modal-body">
						<div class="form-group">
							<input class="form-control" id="post-title" placeholder="Title">
						</div>
						<div class="form-group">
							<input class="form-control" id="post-author" placeholder="Author">
						</div>
						<div class="form-group">
							<textarea class="form-control" id="post-desc" rows="3" placeholder="Create your pieku here." required autofocus></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
						<button type="submit" class="btn btn-primary" id="submitButton">CREATE YOUR PIEKU!</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- modal window in header end -->

	<!-- Description section -->
	<div class="description-row text-center" id="about">
		<div class="container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div id="haikuImg"></div>
				<h4>HAIKU</h4>
				<p>A Japanese poem of seventeen syllables, in three lines of five, seven, and five.</p>
			</div>
			<div class="col-md-1">
				<p class="symbol">+</p>
			</div>
			<div class="col-md-2">
				<div id="pieImg"></div>
				<h4>Pie</h4>
				<p>A baked dish of fruit, or meat and vegetables, typically with a top and base of pastry.</p>
			</div>
			<div class="col-md-1">
				<p class="symbol">=</p>
			</div>
			<div class="col-md-2">
				<div id="piekuImg"></div>
				<h4>Pieku</h4>
				<p>A pastry poem of seventeen syllables, in three lines of five, seven, and five, about pie.</p>	  	
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<!-- Description section end -->

	<!-- Pieku list layout -->
	<div class="col-md-12"></div>
	<div id="piekus" class="pieku-list-layout space">
		<div class="container-fluid">
			<!-- space -->
			<div class="col-md-1"></div>
			<!-- left-aligned navbar -->
			<div class="col-md-3 pieku-list-nav" id="leftNavbar">
				<nav class="navbar navbar-default leftbar" role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header leftbar">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img alt="Brand" src="img/pieku-icon-sm.png" id="leftnavbar-icon" class="text-left">
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse leftbar">
						<ul class="nav navbar-nav leftbar">
							<li><a href="#about">About</a></li>
							<li class="active"><a href="">Piekus</a></li>
							<li><a href="">Contact</a></li>
						</ul>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
							</form>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
			<!-- Left aligned navbar end -->

			<!-- space -->
			<div class="col-md-1"></div>

			<!-- Where new pieku posts are added -->
			<div class="col-md-4" id="pieku-list-panel"></div> 

			<!-- Addition features of each post -->
			<div class="col-md-2" id="features-list-panel"></div>

			<!-- space -->
			<div class="col-md-1"></div>
		</div>
	</div>
	<!-- Pieku list layout end -->

	<!--jQuery-->
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

	<!--Underscore-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<!-- Custom script sheet -->
	<script src="script.js"></script>

	<!-- underscore template -->
	<script type="text/template" id="features-template">
		<!-- Blog Comments -->

		<!-- Comments Form -->
		<div class="well comment-feature">
			<h4>Leave a Comment:</h4>
			<form role="form">
				<div class="form-group">
			   		<textarea class="form-control" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-dark">Submit</button>
			</form>
		</div>	
	</script>
	<script type="text/template" id="post-template">
		<div class="col-md-12 text-center post">
			<div class="panel-heading">
				<button type="button" class="close delete delete-pieku" class="closeBtn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p>
					<h1><%= title %></h1>
				</p>
				<p>	
					<span><%= author %></span>
				</p>
				<p class="glyphicon glyphicon-time"><%= time %></p> 
			</div>
			<div class= "panel-body">	
				<p>
					<span><%= post %></span>
				</p>					
			</div>
		</div>
	</script>

</body>
</html>