/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
}

body {
	background: url(/styles/img/header.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-transform: uppercase;
	position: relative;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
}

.text-vertical-center {
	text-transform: uppercase;
	color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-top: 40px;
}

.text-vertical-center h1 {
	text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

#topNavbar {
	opacity: 0.8;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/styles/img/header2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	background: url(/styles/img/pieku-logo-set.png) no-repeat;
	background-size: 100%;
	margin-left: 5px;
	margin-top: 8px;
	margin-bottom: -10px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand:hover,
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand:focus,
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand:active {
	background: url(/styles/img/pieku-logo-hover.png) no-repeat;
	background-size: 100%;
	margin-left: 5px;
	margin-top: 8px;
	margin-bottom: -10px;
}

/*Decription section*/
.description-row {
	background-color: white;	
	padding-top: 100px;
	padding-bottom: 100px;
}

#haikuImg {
	background: url(/styles/img/haiku-icon.png) no-repeat;
	display: block;	
	width: 125px;
 	height: 125px;
 	margin-left: 61px;
 	margin-bottom: 30px;
}

#pieImg {
	background: url(/styles/img/pie-icon.png) no-repeat;	
	display: block;		
	width: 125px;
  	height: 125px;	
  	margin-left: 54px;
  	margin-bottom: -10px;
  	margin-top: 30px;
}

#piekuImg {
	background: url(/styles/img/pieku-icon.png) no-repeat;
	display: block;	
 	width: 125px;
  	height: 125px;
  	margin-left: 64px;
  	margin-bottom: -10px;
  	margin-top: 30px;
}

p.symbol {
	font-size: 4em;
	margin-top: 70px;
}

#piekus {
	margin-bottom: 50px;
}

/*navbar left*/
@media (min-width: 768px) {
	.navbar-collapse.leftbar {
	height: auto;
	border-top: 0;
	box-shadow: none;
	max-height: none;
	padding-left:0;
	padding-right:0;
	}
	.navbar-collapse.collapse.leftbar {
	display: block !important;
	width: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	}
	.navbar-collapse.in .leftbar{
	overflow-x: visible;
	}

	.navbar.leftbar
	{
		max-width:200px;
		margin-right: 0;
		margin-left: 0;
	}	

	.navbar-nav.leftbar,
	.navbar-nav.leftbar > li,
	.navbar-left.leftbar,
	.navbar-right.leftbar,
	.navbar-header.leftbar
	{float:none !important;}

}

/*pieku list layout section*/
.space {
	margin-top: 130px;
}
.post {
	height: 245px;
	background-color: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
}
.comment-feature {
	height: 245px;
	background-color: rgba(255, 255, 255, 0.7);
	background-image: none;	
}
.panel-heading {
	padding-left: 0px;
	padding-right: 0px;
}
.piekuListImg {
	background: url(/styles/img/pieku-icon.png) no-repeat;
	border: 0;
	display: block;	
 	width: 125px;
  	height: 125px;
  	border-top-color: none;
  	border-radius: 0;
    box-shadow: 0;
}

table {
	border-top-color: none;
}

.panel-body p {
	display: block;
}

